node_modules
pyenv
MC
*.DS_Store
.vs
obj/
mccli.njsproj
/A. Mod91_mexPA_MCs_06.28.2019
/MC_01/inputs
/A. Mod91_mexPA_MCs_06.28.2019.zip
/CVDMOD91.exe
Mod92_MC-setup_Working-example
mod92_YLMC_07112022
