# The python code in this module, mccli, requires these packages to run

# PySide2, which has large and potentially tricky dependencies, is only 
# required if you want to run frmtReport.py.
# The monte-carlo run executes montecarlo.py, format.py, and sum_results.py.
# At a minimum, those require

numpy >= 1.19
    
scipy
matplotlib  # used in plot.py and sum_results.py
pandas  # used in frmtReport.py and plot.py

# Next is only used by frmtReport.py
# pyside2 requires that the non-python Qt libraries be installed.
# If you have trouble, trying installing them separately.
pySide2
