# The python code in this module, mccli, requires these packages to run

# PySide2, which has large and potentially tricky dependencies, is only 
# required if you want to run frmtReport.py.  You will need to uncomment it
# below if you want to use it.

# The monte-carlo run executes montecarlo.py, format.py, and sum_results.py.
# At a minimum, those require

numpy >= 1.19
    
scipy
matplotlib  # used in plot.py and sum_results.py
pandas  # used in frmtReport.py and plot.py

# pySide2 is only used by frmtReport.py.
# pySide2 requires that the non-python Qt libraries be installed.
# If you have trouble, trying installing them separately.
# pySide2 is essentially obsolete and is not available as a pre-built
# binary on MS-Windows starting roughly with Python 3.11.   
# The successor, pySide6, may well be drop-in compatible, but we
# haven't had a chance to test it. 

# remove the # at the start of the next line to request installation of pySide2.
#pySide2

##### Developer modules ##########

## For debugging with VSCode, if want to attach to spawned montecarlo.py
#debugpy

## For python test suite.  Version requirement from VSCode https://code.visualstudio.com/docs/python/testing
#pytest  >=7.0.0
#pytest-cov
